html, body {
	margin: 0; 
	padding: 0;
	width: 100%; 
	height: 100%;
	background-color: #dcdcdc;
    color: #24292e;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
}

#head {	
	font-family: sans-serif;
	font-size: 14px;
    background-color: #24292e;
    color: hsla(0, 0%, 100%, 0.7);
    padding: 12px 16px 12px 16px;
    z-index: 32;
}
#head .Title{
    float: left;
    margin-left:5%;
    padding-top:2px;
    padding-bottom:2px;
}
#head nav{
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    align-items: center;
}
#head li{
    color: #fff;
    display: inline;
    border-top: 0;
    padding-right: 16px;
    padding-left: 16px;   
	font-weight: 500;
}
#head li:hover, li:active {
	color: #999;
}
#head ul{
    margin-bottom: 0;
    margin-top: 0;
    margin-right:5%;
}
#left{
    max-width: 350px;
    width: 25%;
    height: 100%;
    border-bottom: 1px solid #e1e4e8;
    border-right: 1px solid #e1e4e8;
    background-color: #dcdcdc;
    position:absolute;
}
#right{
    width: 75%;
    height: 100%;
	border-left: 1px solid #e1e4e8;
    position:absolute;
}

#ScoreBox{
	width: 75%;
    margin-left:15%;
    padding-top:10%;
    padding-bottom:2px;
    position:absolute;
}

#PerChoose{
    width: 45%;
    margin-top:30%;
    margin-left:5%;
}

#GetScore{
    margin-top:30%;
    margin-left:5%;
    position:absolute;
}

#ReDesign{
    margin-top:50%;
    margin-left:25%;
    position:absolute;
}

#srcCanvas{
    position: absolute;
}

#dstCanvas{
    border-top: 1px solid #a1a4a8;
    border-bottom: 1px solid #e1e4e8;
    border-right: 1px solid #c1c4c8;
    border-left: 1px solid #d1d4d8;
    margin-left: 13%;
    margin-top: 5%;
    position: absolute;
}

#TextInput {
    width: 240px;
    margin-right: 16px;
    font-size: 16px;
}

#text-toolbar {
	z-index:100;
	position: fixed;
}

#text-rect {
	z-index: 100;
	position: fixed;
}
